<h3>{{ titulo }}</h3>

<label>Fecha: </label>
<input
  type="text"
  [(ngModel)]="nominaAct.fecha"
  [readOnly]="tipo == 2"
/><br /><br />
<label>Importe Bruto: </label>
<input
  type="number"
  [(ngModel)]="nominaAct.bruto"
  min="0"
  max="1"
  [readOnly]="tipo == 2"
/><br /><br /><br />
<label>Retención: </label>
<input
  type="number"
  [(ngModel)]="nominaAct.retencion"
  min="0"
  max="1"
  [readOnly]="tipo == 2"
/><br /><br />
<label>Cambiar a la factura (pos): </label>
<button (click)="guardaNomina()">Guardar</button>
<button [routerLink]="['/nominas']" class="ml-2">Cancelar</button>
