:root {
  --primary-color: #6a0de9;
  --secondary-color: #f5f5f5; /*Color secundario para fondos y secciones*/
}
/* Reset de márgenes y padding para todos los elementos */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw; /*Ajusta el ancho del body a un 100 del ancho de la pantalla*/
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------ELEMENTOS COMUNES----------------------*/
h2 {
  font-size: 50px;
  margin-bottom: 2rem;
  width: 95%;
}
h2:after {
  /*agrega un punto con su respectivo estilo al final del elemento h2 */
  content: ".";
  color: var(--primary-color);
  /* float: right;*/
}

.btnAbrirCuenta {
  /*Estilos para los botones abrir cuenta de toda la página*/
  padding: 1rem 1rem;
  margin: 1rem 0 4rem 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
}

/*---------------------------------SECTION_1------------------------------*/
#container1 {
  /*contenedor izquierdo de la sección 1*/
  width: 40%;
  float: left;
  height: 100vh;
}

#logo {
  font-weight: bolder; /*Título de la página*/
}
#container1 > div {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}
#container1_content {
  margin-top: 100px;
}
#container1_content h1 {
  font-size: 60px;
  padding: 1rem 0;
}
#container1_content h1 span {
  display: block;
}
#container1_content h1 span::after {
  content: ".";
  color: var(--primary-color);
  font-size: 70px;
} /*Agrega un punto después del texto yde la estilos*/
#container1_content p {
  width: 80%;
  font-size: 1.2rem;
}
#container1_content small {
  color: var(--primary-color);
}
#container1_content small span {
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

#enlacesApp > div:first-child {
  margin-right: 2rem;
}
#enlacesApp div,
i {
  float: left;
}
#enlacesApp div span {
  display: block; /*se indica al elemento span que ocupe otra línea*/
  font-weight: bolder;
}

i {
  font-size: 30px;
  margin-right: 1rem;
}
/*----------------ESTILOS CONTAINER 2-------------------------*/
#container2 {
  /*contenedor derecho de la sección 1*/
  width: 60%;
  float: left;
  height: 100vh; /*se le indica al contenedor que ocupe el 100% del alto de la pantalla*/
  background-color: var(--secondary-color);
}
#container2 ul {
  margin: 2rem;
}
#container2 ul li {
  float: left;
  width: fit-content;
  padding: 0.5rem 1rem;
  list-style: none;
}
#container2 .active {
  background-color: white;
  border-radius: 5px;
}

#container2 .downloadApp {
  margin-left: 1rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
}

#container2 img {
  margin-left: 50%;
  margin-top: 8%;
  transform: translateX(
    -50%
  ); /*aproxima el centrado de la imagen en el contenedor 2 desplazándola un -50% de su ancho */
}

/*---------------------------------SECTION_2------------------------------*/
#pasosCrearCuenta {
  height: 100vh;
}
#pasosCrearCuenta section {
  width: 50%;
  float: left;
  height: 100vh; /* Ocupa 100% del alto de la pantalla */
}
#pasosCrearCuenta section figure {
  width: 60%;
  margin-top: 10%;
  margin-left: 50%; /* Centro horizontal */
  transform: translateX(-30%); /* Corrección de centrado */
}

#pasosCrearCuenta section figure img {
  width: 100%;
}

#pasosCrearCuenta div {
  width: 75%;
  margin: 16% 0 0 8%;
}

#pasosCrearCuenta p {
  padding: 0.5rem 2rem 1.5rem 2rem;
  margin: 1rem 0.5rem;
  width: 60%;
}
/*estilo a plicado a los elementos p dentro de #pasosCrearCuenta menos el último*/
#pasosCrearCuenta p:not(:last-child) {
  border-left: 1px solid gray;
}
#pasosCrearCuenta span {
  margin-right: 1.5rem;
  color: var(--primary-color);
}
/*---------------------------------SECTION_3------------------------------*/
#abrirCuenta {
  height: 100vh;
  clear: both;
  position: relative;
}
#abrirCuenta > div {
  background-color: var(--secondary-color);
  width: 80%;
  height: 70%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Desplaza -50% en el eje X y -50% en el eje Y*/
}

#abrirCuenta > div div {
  float: left;
  width: 50%;
  position: relative;
  left: 8%;
  top: 14%;
}
#abrirCuenta figure {
  position: relative; /*Posiciona el elemento segun su posición relativa*/
  left: 50%; /*lo desplaza desde la izq hasta el  50% del ancho de su contenedor*/
  top: 30px;
  transform: translateX(-35%);
}
#abrirCuenta p {
  width: 70%;
  font-size: 20px;
  margin-bottom: 2rem;
}
/*---------------------------------SECTION_4------------------------------*/
#blog {
  height: 100vh;
  width: 80%;
  margin: 0 auto; /*centra el elemento*/
}
#blog p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
#blog img {
  width: 100%;
}
#blog div article {
  width: 30%;
  float: left;
}
/*Agrega margen a la izquierda en los artículos excepto al primero*/
#blog div article:not(:first-child) {
  margin-left: 5%;
}
#blog .infoBlog {
  margin: 1rem 0;
}
#blog .infoBlog div {
  display: inline-block;
}
/*estilos al último elemento div dentro de .infoBlog*/
#blog .infoBlog div:last-child {
  float: right;
}
#blog i {
  position: relative;
  left: 4.5rem;
  font-size: 1rem;
  margin-top: 4px;
}

#blog h3 {
  margin-bottom: 1rem;
  height: 2.5rem;
}

#blog a {
  text-decoration: none;
  margin-left: -30px;
  color: var(--primary-color);
  font-weight: bolder;
}

#formInfo {
  position: relative;
  height: 70vh;
  color: white;
}

#formInfo > div {
  position: absolute;
  width: 60%;
  height: 310px;
  top: 30%;
  left: 50%; /*desplaza el elemento hacia la derecha */
  transform: translateX(
    -50%
  ); /*Desplaza -50% del ancho del propio elemento para centrarlo*/
  background-color: var(--primary-color);
  border-radius: 20px;
  text-align: center;
}

#formInfo > div p {
  font-size: 1.5rem;
}

#formInfo > div h4 {
  font-size: 65px;
  padding: 2rem 0;
}

#formInfo > div div {
  height: 4rem;
  background-color: white;
  width: 45%;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 50%; /*aproximación de centrado horizontal*/
  transform: translateX(-50%); /*corrección de centrado*/
}
#formInfo span {
  color: rgb(158, 157, 157);
  margin-right: 1rem;
  font-size: 1.2rem;
}
#formInfo button {
  margin-top: 0.5rem;
  margin-right: -0.1rem;
}

/*---------------------------------SECTION_5------------------------------*/
footer {
  padding: 1rem 8rem 0 8rem;
}
footer article {
  width: 10%;
  float: left;
  margin-left: 10%;
  margin-bottom: 2rem;
}
footer article p {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}
footer article i {
  font-size: 20px;
}
footer article ul li {
  list-style: none;
  padding: 0.5rem 0;
}
footer .piePag {
  clear: both; /* Limpia las flotaciones anteriores */
  padding: 1rem 0.5rem;
  margin: 2rem 4rem;
  border-top: 1px solid rgb(224, 224, 224); /*simula la línea divisoria del footer*/
}

footer .piePag section:first-child {
  width: 70%; /* Ancho del primer section dentro de .piePag */
  float: left;
}

footer .piePag section:nth-child(2) {
  width: 30%; /* Ancho del segundo section dentro de .piePag */
  float: left;
}
footer .piePag section div {
  width: 50%;
  float: left;
  text-align: end;
}
