:root {
  --color-gray: rgb(193, 193, 193);
  --color-primary: rgb(16, 143, 100);
}
body {
  text-align: center;
}
form {
  width: 40%;
  margin: 0 auto;
  text-align: initial;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  padding: 1rem;
}
fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgb(235, 235, 235);
}
fieldset legend {
  color: var(--color-primary);
}
fieldset,
input {
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}
input {
  padding: 0rem 0.5rem;
}
#dni {
  width: 200px;
}
button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}
