*{
    margin: 0;
    padding: 0;
}
:root{
    --color-rojo:red;
    --color-azul: blue;
    --color-verde:rgb(40, 187, 101);
    --color-verdeAzulado: rgb(51, 196, 196);
    --color-morado: rgb(233, 159, 233);
    --color-naranja: rgb(221, 138, 124);
}

body{
    margin: 0 auto;
    color: white;
    height: 100vh;
   
}


header{
    width: 100%;
    background-color: var(--color-verde);
    padding: 1vh 0;

}
#menuHeader li{
    display: inline; /*pone en linea todos los elementos li dentro del ul*/
    margin-left: 2rem; /*el margin izquierdo será doveces el valor el tamaño de fuente definido en este caso por defecto 16px*/
}
#menuHeader li:first-child{
    color: var(--color-azul); 
}/*estilo para el primer elemento de la lista*/
aside{
    width: 30%;
    background-color: var(--color-verdeAzulado);
}
#menuAside li{
    margin-top: 20%;
    font-size: 2rem;
    text-align: center;   
}/*estilo para los elementos li dentro de menuAside*/
    
    

#body-content{
    display: flex;
    height: 92vh;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    width: 90%;
    background-color: var(--color-morado);
    align-items: center;
}

main > div{
height: 45%;
width: 95%;
border: solid 2px var(--color-rojo);
}
#cajaSuperior{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#cajaSuperior > div{
  border: solid 2px var(--color-azul);
  width: 45%;
  height: 90%;
}
#cajaInferior{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#cajaInferior > div{
   width: 31%;
   border: 2px solid var(--color-azul);
   height: 90%;
}


footer{
    background-color: var(--color-naranja);
    text-align: center;
}