<header>
  <h1>GESTIÓN DEL BANCO</h1>
  <app-reloj></app-reloj>
</header>
<hr />

<section>
  <h3>Saldo actual del banco: {{saldoTotal}}&euro;</h3>
  <p *ngIf="saldoTotal<0" [ngStyle]="{
        'background-color': 'red' ,
        'color': 'white' 
      }">EL BANCO SE ENCUENTRA EN QUIEBRA</p>
  <div>
    <button (click)="generarOperaciones(1)">Generar 1 Operación</button>
    <button (click)="generarOperaciones(5)">generar 5 Operaciones</button>
    <button (click)="generarOperaciones(100)">Generar 100 operaciones</button>
  </div>
</section>

<app-cliente #clienteComponent></app-cliente>
