*{
    margin: 0;
    padding: 0;
}/*establece a 0 todos los margenes y paddings de la página*/
:root{
    --total-width: 980px; /*variable que almacena ancho total de la pagina*/
}

body{
    width: var(--total-width);
    margin: 0 auto;
    color: white;
    height: 100vh; /*Se define la altura total como el 100% de la altura de la pantalla*/
    text-align: center;

}

#header{
    width: 100%;
    height: 5%;
    background-color: rgb(40, 187, 101);
}
#header p{
    padding-top: 0.5rem;
}

#aside{
    width: 20%;
    float: left; /*Se le indica aside que flote a la izquierda*/
    background-color: rgb(51, 196, 196);
    height: 92%;
}

#main{
    width: 80%;
    height: 92%;
    float: left; /*Se indica a main qu eflote a la izquierda*/
    background-color: rgb(233, 159, 233);
}

#main > div{
    width: 90%;
    height: 42%;
    float: left;
    border: 2px solid red;
    margin: 2% 5%; 
} /*estilos de las cajas rojas dentro de main*/

#cajaSuperior > div{
    width: 45%;
    height: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    border: 2px solid blue;
}/*estilos de los elementos div de la caja superior dentro del main*/


 #cajaInferior > div{
    width: 29%;
    height: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    border: 2px solid blue;
}/*Estilos de los elementos div de la caja inferior dentro del main*/

#footer{
    background-color: rgb(221, 138, 124);
}