<h3>Listado de operaciones</h3>
<table>
  <thead>
    <th>Posición</th>
    <th>Núm Operacion</th>
    <th>Num Cliente</th>
    <th>Descripción</th>
    <th>Importe</th>
  </thead>
  <tbody>
    <tr *ngFor="let operacion of operaciones; let i = index">
      <td>{{ i }}</td>
      <td>{{ operacion.noperacion }}</td>
      <td>{{ operacion.ncliente }}</td>
      <td>
        <span *ngIf="operacion.importe < 0"
          >Pago realizado por el cliente {{ operacion.ncliente }}({{
            operacion.nombreCliente
          }})</span
        >
        <span *ngIf="operacion.importe >= 0">Ingreso realizado por el cliente {{ operacion.ncliente }}({{
            operacion.nombreCliente
          }})</span>
        <span></span>
      </td>
      <td [ngStyle]="{ color: operacion.importe < 0 ? 'red' : '' }">
        {{ operacion.importe }}&euro;
      </td>
    </tr>
  </tbody>
</table>
