<h3>Gestión de la factura-{{ seleccionado }}</h3>
<label>Número: </label>
<input type="number" [(ngModel)]="facturas[seleccionado].numero"><br>
<label>Fecha: </label>
<input type="string" [(ngModel)]="facturas[seleccionado].fecha"><br>
<label>Con/Sin IVA: </label>
<input type="number" [(ngModel)]="facturas[seleccionado].iva" min="0"
max="1"><br>
<label>Importe: </label>
<input type="number" [(ngModel)]="facturas[seleccionado].cantidad"><br><br>
<label>Cambiar a la factura (pos): </label>
<input type="number" [(ngModel)]="seleccionado" min="0" max="{{
facturas.length-1 }}"><br>
<button (click)="nuevaFactura()">Nueva Factura</button>
<hr>
<app-facturas-lista [facturas]="facturas"
(facturasActualizadas)="actualizarFacturas($event)"></app-facturas-lista>
