#encabezado{
    display: flex;
    justify-content: space-between;
   }
   #principal{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    padding-bottom: 1vh;
   }
   #quiebra{
    background-color: red;
    color: white;
    text-align: center;
   }
   #botones{
    display: flex;
    justify-content: space-around;
   }