<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand mx-2" href="#">Aplicación {{ titulo }}</a>
    <button class="navbar-toggler" type="button" data-bstoggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"
   aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page"
   [routerLink]="['/bienvenido']"
    [routerLinkActive]="['active']">Inicio</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/empleados']"
   [routerLinkActive]="['active']">Empleados</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/facturas']"
   [routerLinkActive]="['active']">Facturas</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/nominas']"
   [routerLinkActive]="['active']">Nóminas</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/comentarios']"
   [routerLinkActive]="['active']">Comentarios</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/logout']"
   [routerLinkActive]="['active']">Salir</a>
    </li>
    </ul>
    </div>
    </div>
   </nav>