.bg-logoutComponent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../img-login.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-logoutContainer {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  padding: 2rem;
  border-radius: 10px;
}
button {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
