<h2>Listado de Nóminas</h2>
<button [routerLink]="['/nominas', 0, 0]" class="ml-2">Nueva Nómina</button><br><br>
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Bruto</th>
            <th>Retención</th>
            <th>Neto</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody *ngIf="nominas">
        <tr *ngFor="let nomina of nominas; let i = index">
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ nomina.numero }}</td>
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ nomina.fecha }}</td>
            <td [style.color]="nomina.bruto > 0 ? 'blue' : 'red'">{{ nomina.bruto }}</td>
            <td [style.color]="nomina.retencion > 0 ? 'blue' : 'red'">{{ nomina.retencion }}</td>
            <td>{{ nomina.bruto | sueldoNeto:nomina.retencion }}</td>
            <td>
                <button [routerLink]="['/nominas', 1, nomina.numero]">Modificar</button>
                <button [routerLink]="['/nominas', 2, nomina.numero]" class="ml-2">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>
