<h3>{{ titulo }}</h3>
<form #nominaForm="ngForm" (ngSubmit)="guardaNomina()" novalidate>
    <label>Nombre: </label>
    <input type="text" name="nombre" [(ngModel)]="nominaact.nombre" [readonly]="tipo == 2"
        (ngModelChange)="cambiado()" minlength="3" maxlength="50" required><br>
    <label>Fecha: </label>
    <input type="date" name="fecha" [(ngModel)]="nominaact.fecha" [readonly]="tipo == 2"
        (ngModelChange)="cambiado()" required><br>
    <label>Importe Bruto: </label>
    <input type="number" name="bruto" [(ngModel)]="nominaact.bruto" [readonly]="tipo == 2"
        (ngModelChange)="cambiado()" required><br>
    <label>Retención: </label>
    <input type="number" name="retencion" [(ngModel)]="nominaact.retencion" [readonly]="tipo == 2"
        (ngModelChange)="cambiado()" required><br><br>

    <input type="submit" name="guardar" value="{{ txtBtn }}">
    <button [routerLink]="['/nominas']" class="ml-2">Cancelar</button>
</form>