<h2>Listado de Facturas</h2>
<button [routerLink]="['/facturas', 0, 0]" class="ml-2">Nueva Factura</button><br><br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>IVA</th>
            <th>Importe</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody *ngIf="facturas">
        <tr *ngFor="let factura of facturas; let i = index">
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ factura.id }}</td>
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ factura.cliente }}</td>
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ factura.fecha }}</td>
            <td>{{ factura.iva }}</td>
            <td [style.color]="factura.importe > 0 ? 'blue' : 'red'">{{ factura.importe }}</td>
            <td>
                <button [routerLink]="['/facturas', 1, factura.id]">Modificar</button>
                <button [routerLink]="['/facturas', 2, factura.id]" class="ml-2">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>

