/* You can add global styles to this file, and also import other style files */
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ml-2{
    margin-left: 10px;
}
.contenedor-login{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(assets/images/bricks-8753855_640.png);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-login>div{
    width: 60%;
    height: 60vh;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFFBB;
}
.is-valid{
    background-color:green;
    color: white;
}
.is-invalid{
    background-color:red;
    color: white;
}
.errores{
    color:red;
    font-size: small;
}