body{
    width: 60em;
    margin: 0 auto;
}

h1{
    text-align: center; /*centrado del elemento h1*/
    width: 100%;
}

#content{
    display: flex; /*define un comportamiento flex para esta caja*/
}

aside{
    width: 16em; /*ancho del contenedor aside*/
}

main{
    width: 44em; /*ancho del contenedor main*/
}

main ul{
    display: flex;
    gap: 0.5rem; /*agrega un pequeño espacio entre los elementos hijos*/
    padding: 0;
}

main ul li{
    width: 33%;
    list-style: none;
}