@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --fuente-principal: 'Pacifico';
    --fuente-alternativa: sans-serif;

    --tam-fuente-xs: 12px;
    --tam-fuente-sm: 13px;
    --tam-fuente-md: 15px;
    --tam-fuente-lg: 17px;
    --tam-fuente-xl: 17px;

    --tam-max-contenedor-x: 1200px;
    --tam-alto-encabezado-xs: 8vh;
    --margen-elementos-p: 2rem;
    
    --negro: #000;
    --blanco: #FFF;
    --fondo-encabezado: #B8D2F4;
    --fondo-menu: var(--blanco);
    --fondo-todo: var(--fondo-encabezado);
    --color-texto: #517104;
    --color-titulos-claro: #2CDA1C;
    --color-titulos-oscuro: #1F411C;
    --color-primario: #517104;
    --color-secundario: #83A705;
    --color-opuesto-primario: #894B26;
    --color-opuesto-secundario: #F58A03;
    --color-enlace: var(--color-opuesto-primario);
    --color-enlace-hover: var(--color-opuesto-secundario);
    --color-transparencia: rgba(0, 0, 0, 0.5);
}

html {
    font-family: var(--fuente-principal), var(--fuente-alternativa);
    font-size: var(--tam-fuente-xs);
   /* background-color: var(--fondo-todo);*/
    color: var(--color-texto);
}

*,
:after,
:before {
    padding: 0;
    margin: 0
}
body {
    overflow-x: hidden;
}
#inicio,#nosotros,#contacto{
    width: 100%;
    height: 100vh;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
p{
    font-size: 1.2rem;
}
a{
    font-size: 1.5rem;
}
/* Media queries sm */
header{
    height: var(--tam-alto-encabezado-xs);
    display: flex;
    align-items: center;  
    background-color: var(--fondo-encabezado);
}
header img{
    width: 100px;
    height: 100px;
    scale: 0.8;
    
}
nav{ height: 30vh;}
nav ul{
    height: 100%; /*Ocupa el 100% de la altura del contenedor*/
    display: flex;
    flex-direction: column;
    justify-content:space-around; /*distribuye elementos li verticalmente al cambiar la direccion a column*/
    background-color: var(--fondo-menu);
}
 nav ul li a{
    text-decoration: none;
    color: var(--color-enlace); 
}

nav ul li{
    display: flex;
    align-items: center; /*centrado vertical*/
    justify-content: center; /*centrado horizontal*/
    width: 100%;
    height: 100%;
}
/*Borde inferior para todos los elementos li excepto el último*/
nav ul li:not(:last-child){
    border-bottom: solid 1px black;
}
#intro{
    height: 62vh; /*Ajuste de altura para completar 100vh*/
    display: flex;
    justify-content: center; /*Centra ele elemneto horizontalmente*/
    align-items: center;/*Centra el elemento verticalmente*/
    background-image:url("./images/casa-bosque-xs.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro div{
    display: flex;
    height: 35vh;
    width: 70%;
    padding: 0 2rem ;
    border-radius: 10px;
    background-color: var();
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--color-transparencia);
    border: 1px solid var(--color-titulos-claro);
    color: var(--color-titulos-claro);

}
#intro div h2{
    font-size: x-large;
   
}

#nosotros{
    height: 100vh;
    background-image: url("./images/texture-1674066_640.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}

#nosotros h2{
padding: 0.4rem 0;
text-align: center;
}
#nosotros p{
    padding: 0 var(--margen-elementos-p) ;
    min-width: 330px;
}
#nosotros img{
    width: 80%;
    min-width: 330px;
    height: 40vh;
    border-radius: 10px;
    border: solid black 1px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    
}
#modelos img{
    width: 100vw;
    
}
#modelos h2, #modelos h3{
    margin-top: 2rem;
    text-align: center;
}
#modelos p{
    padding:0 var(--margen-elementos-p);
}
#galeria{
    text-align: center;
    background-image: url("./images/texture-1674066_640.jpg");
    background-size: 100% 100%;
    padding-bottom: 1rem;
}
.galeria-img{
 width: 90vw;
 border-radius: 10px;
 margin-top: 1.5rem;
 border: 1px solid rgb(99, 99, 99);

}
#contacto{
    background-image: url("./images/contacto-xs.jpg");
    background-position: center center;
    color: var(--blanco);
}
#contacto h2{
    text-align: center;
    padding-top: 1rem;
}
#contacto-form-container{
    width: 80%;
    background-color: var(--color-transparencia);
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
   padding: 2rem 0.5rem 4rem 0.5rem;
    
}
#contacto-form-container div{
    text-align: center;
}

#contacto form{
    width: 80%;
    margin: 0 auto;
}

label, input, textarea, button{
    display: block;
    width: 100%;

}
button{
    margin-top: 0.5rem;
}


footer{
    text-align: center;
    background-color: var(--color-opuesto-primario);
    color: var(--blanco);
    padding: 2rem 0;
}
@media (min-width: 576px) {
}
/* Media queries md */

@media (min-width: 768px) {
}
/* Media queries lg */

@media (min-width: 992px) {
}
/* Media queries xl */

@media (min-width: 1200px) {
}
