@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --fuente-principal: 'Pacifico';
    --fuente-alternativa: sans-serif;

    --tam-fuente-xs: 12px;
    --tam-fuente-sm: 13px;
    --tam-fuente-md: 15px;
    --tam-fuente-lg: 17px;
    --tam-fuente-xl: 17px;

    --tam-max-contenedor-x: 1200px;
    --tam-alto-encabezado-xs: 8vh;
    --margen-elementos-p: 2rem;
    
    --negro: #000;
    --blanco: #FFF;
    --fondo-encabezado: #B8D2F4;
    --fondo-menu: var(--blanco);
    --fondo-todo: var(--fondo-encabezado);
    --color-texto: #517104;
    --color-titulos-claro: #2CDA1C;
    --color-titulos-oscuro: #1F411C;
    --color-primario: #517104;
    --color-secundario: #83A705;
    --color-opuesto-primario: #894B26;
    --color-opuesto-secundario: #F58A03;
    --color-enlace: var(--color-opuesto-primario);
    --color-enlace-hover: var(--color-opuesto-secundario);
    --color-transparencia: rgba(0, 0, 0, 0.5);
}

/*ESTILOS GENERALES*/
/*Se eleiminan los márgenes y padding de todos los elementos*/
*,
:after,
:before {
    padding: 0;
    margin: 0
}
html {
    font-family: var(--fuente-principal), var(--fuente-alternativa);
    font-size: var(--tam-fuente-xs);
   /* background-color: var(--fondo-todo);*/
    color: var(--color-texto);
    scroll-behavior: smooth; /*comportamineto suave del scroll*/
}
body {
    width: 100vw;
    overflow-x: hidden;
}
#inicio,#nosotros,#contacto{
    width: 100%;
    height: 100vh;
}
#inicio,main, footer{
    min-width: 300px;
}
h2,h3{
    text-align: center; /*centrado de los títulos h2 y h3*/
}
h2{
    font-size: 2.8rem;
    
}
h3{
    font-size: 2.3rem;
}
p{
    font-size: 1.2rem;
}
a{
    font-size: 1.5rem;
}
/* Media queries sm */
header{
    height: var(--tam-alto-encabezado-xs);
    display: flex;
    align-items: center;  /*alinea los items verticalmente*/
    background-color: var(--fondo-encabezado);
}
header img{
    width: 100px;
    height: 100px;
    scale: 0.8;
    
}
nav{ height: 30vh;}
nav ul{
    height: 100%; /*Ocupa el 100% de la altura del contenedor*/
    display: flex;
    flex-direction: column;
    justify-content:space-around; /*distribuye elementos li verticalmente al cambiar la direccion a column*/
    background-color: var(--fondo-menu);
}
 nav ul li a{
    text-decoration: none;
    color: var(--color-enlace); 
}

nav ul li{
    display: flex;
    align-items: center; /*centrado vertical*/
    justify-content: center; /*centrado horizontal*/
    width: 100%;
    height: 100%;
}
/*Borde inferior para todos los elementos li excepto el último*/
nav ul li:not(:last-child){
    border-bottom: solid 1px black;
}
#intro{
    height: 62vh; /*Ajuste de altura para completar 100vh*/
    display: flex;
    justify-content: center; /*Centra ele elemneto horizontalmente*/
    align-items: center;/*Centra el elemento verticalmente*/
    background-image:url("./images/casa-bosque-xs.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro div{
    display: flex;
    height: 35vh;
    width: 70%;
    padding: 0 2rem ;
    border-radius: 10px;
    background-color: var();
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--color-transparencia);
    border: 1px solid var(--color-titulos-claro);
    color: var(--color-titulos-claro);

}

#nosotros{
    background-image: url("./images/texture-1674066_640.jpg");
    background-repeat: no-repeat; /*Evita que la imagen de fondo se repita*/
    background-size: 100% 100%;
    padding-top: 1.5rem;
   
}

#nosotros h2{
padding: 0.4rem 0;
text-align: center;
}
#nosotros p{
    padding: 0 var(--margen-elementos-p) ;
    min-width: 330px;
    margin-bottom: 4rem;
    color: var(--color-texto);
}
#nosotros img{
    width: 80%;
    min-width: 330px;
    height:auto;
    border-radius: 10px;
    border: solid black 1px;
    margin-left: 50%; /*Desplaza desde la izquierda 50%*/
    transform: translateX(-50%); /*Ajuste centrado horizontal*/
    margin-top: 1rem;
    
}
#modelos img{
    width: 100%;
    
}
#modelos h2, #modelos h3{
    margin-top: 2.5rem;
    color: var(--color-secundario);
}
#modelos p{
    padding:0 var(--margen-elementos-p);
    color: var(--color-secundario);
}
#galeria{
    text-align: center;
    background-image: url("./images/texture-1674066_640.jpg");
    background-size: 100% 100%; /*Se ajusta el ancho y la altura para ocupar el 100% del elemento*/
    padding: 2rem 0 ;
}

.galeria-img{
 width: 90%;
 border-radius: 10px;
 margin-top: 1.5rem;
 border: 1px solid rgb(99, 99, 99);

}
#contacto{
    background-image: url("./images/contacto-xs.jpg");
    background-position: center center; /*define posicion horizontal y vertical de la imagen de fondo, respectivamente */
    background-repeat: no-repeat;
    background-size: 300% 100%; /*Ajusta la imagen de fondo para que se muestre de forma correcta en el background*/
}
#contacto h2{
   padding-top: 3rem;
    color: var(--color-opuesto-primario);
}
#contacto-form-container{
    color: var(--blanco);
    width: 80%;
    background-color: var(--color-transparencia);
    border-radius: 10px;
    padding: 2rem 0.5rem 4rem 0.5rem;
    margin-left: 50%;
    margin-top: 12rem;
    transform: translateX(-50%);/*Ajuste centrado horizontal*/
}
#contacto-form-container div{
    text-align: center;
}

#contacto form{
    width: 80%;
    margin: 4rem auto 0 auto;
}

#contacto i{
    padding-right: 0.5rem;
}
label, input, textarea, button{
    display: block;
    width: 100%;

}
#contacto button{
    margin-top: 0.5rem;
}

footer{
    text-align: center;
    background-color: var(--color-opuesto-primario);
    color: var(--blanco);
    padding: 2rem 0;
    z-index: 10;
}

/*Estilos img del enlace para volver*/
#volver {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    cursor: pointer;
  }
  /*Este selector aplica a los elementos que tienen la clase flotante pero no la clase .is-visible*/
  .flotante:not(.is-visible) {
    pointer-events: none;
    opacity: 0;
  }
  
  @media (min-width: 576px) and (orientation: landscape) {
    #inicio,#nosotros,#contacto{
        height: unset;
    }
   #nosotros{
    padding-bottom: 1rem;
   }
   #contacto{
   padding-bottom: 2rem;
   }
  }
@media (min-width: 576px) {
}
/* Media queries md */

@media (min-width: 768px) {
}
/* Media queries lg */

@media (min-width: 992px) {
}
/* Media queries xl */

@media (min-width: 1200px) {
}
