label {
  display: inline-block;
  width: 100px;
}
button {
  background-color: yellow;
}
body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
form {
  border: 1px solid rgb(205, 205, 205);
  width: fit-content;
  padding: 2rem;
  position: relative;
  left: 50%; 
  transform: translateX(-50%);
  text-align: initial;
}
