* {
  margin: 0;
  padding: 0;
} /*pone a cero el margin y el padding de los elementos dentro de la página*/

:root {
  --color-gray: rgb(46, 46, 46);
  --color-clear-gray: rgb(101, 101, 101);
  --border-width: 4px;
} /*Definición de variables*/
html {
  /* background-color: white;*/
}

body {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgb(227, 76, 38),
    rgba(240, 101, 41, 0) 90%
  );
}
h2{
    text-shadow: 2px 2px 2px gray;
}
span {
  font-weight: bold; /*resalta los elementos span dandole peso a la fuente */
}

header {
  width: 96%;
  height: 9vh;
  background: linear-gradient(180deg, #0170b9, #27aade);
  padding: 1px 1rem;
  color: white;
  border-bottom: solid var(--border-width) var(--color-gray); /*agrega borde al header*/
  border-radius: 25px 25px 0 0;
}
#header_container {
  margin-top: 8px;
}
#header_container p {
  float: left; /*Flota a la izquierda el elemento p*/
  /*margin-top: 0.5rem;
  margin-left: 2rem;*/
  font-size: xx-large;
}

#header_container img {
  float: left; /*Flota a la izquierda la imagen*/
}

nav {
  width: 100%;
  height: 100px;
  background: linear-gradient(rgb(213, 186, 50), rgb(255, 218, 62));
  padding-top: 1rem;
  color: rgb(
    255,
    255,
    255
  ); /*define el color blanco con 0.41 de transparencia*/
}
nav a {
  text-decoration: none;
  display: block;
  color: white;
}
nav a:hover {
  color: orange;
}
nav > div {
  width: 33.3%; /*ancho de un 33% para los hijos directos de #nav*/
  text-align: center;
  float: left; /*flota a la izquierda lo elementos div dentro del #nav*/
}

main {
  background-color: white;
  height: 60vh;
  padding-top: 2rem;
}

main > article {
  width: 25%; /*ancho de un 25% para los hijos directos de #main*/
  float: left;
  text-align: center;
  margin-left: 3.5%;
  padding: 1rem;
  background-color: white;
}

.article_img {
  margin-left: -20px;
  margin-top: -15px;
  scale: 0.95;
}

main > article > p {
  border-top: 1px solid gray; /*borde superior para los elementos p dentro del div de la seccion #main*/
  margin-top: 1rem;
  padding-top: 1rem;
}

footer {
  height: 2rem;
  text-align: center;
  clear: both;
  padding-top: 1rem;
  color: white;
  border-top: var(--border-width) solid var(--color-gray); /*define solo borde superior del footer */
  background-color: var(--color-clear-gray);
  background: linear-gradient(0deg, #0170b9, #27aade);
  border-radius: 0 0 25px 25px;
}

/*estilos contenedor que encapsula toda la página para darle el efecto de sombra*/
.container {
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 10px 10px 10px gray;
}
