body{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(201, 198, 195);
    text-align: center;
}
#header{
    text-align: center;
    height: 100px;
    background-color: orange;
}

#nav{
    text-align: center;
    background-color: yellow;
}
#content{
    background-color: red;
    
}
#main{
    width: 700px;
    height: 500px;
    float: left;
    background-color: blue;
}
#aside{
    width: 270px;
    height: 500px;
    float: right;
    background-color: violet;

}
#footer{
    background-color: brown;
    text-align: center;
    clear: both;
}