:root{
    --width-page: 980px; /*variable para el ancho total de la página*/
    --height-content: 500px;
}


body{
    width: var(--width-page);
    margin: 0 auto;
    background-color: rgb(252, 237, 186);
    text-align: center; /*centra el contenido de todos los elementos hijos*/
}


p{
    margin-top: 250px; /*margin superior para que el texto quede aproximadamente centradoverticalmente*/
}

#header{
    width: var(--width-page);
    height: 100px;
    background-color: rgb(255, 194, 179);
   
}
#header > p{
    margin: 0;
    padding-top: 50px;
}/*se definen estilos para los elementos p dentro de header*/

#nav{
    width: var(--width-page);
    background-color: rgb(248, 248, 165);
    
}
#content{
    background-color: rgb(211, 253, 177);
    height: var(--height-content);
    width: var(--width-page);
    text-align: center;
    text-align: initial; /*Se restablece la propiedad text-align para evitar que herede se su padre, las secciones dentro de main
                          ya no estarán centradas, dentro de cada una si se especificará que se centre su contenido*/
}

#main{
    width: 700px;
    height: var(--height-content);
    background-color: rgb(128, 234, 241);
    display: inline-block; /*se indica a main que se posicione ocupando su ancho permitiendo que si aside cabe, se posicione detrás*/
    text-align: center; /*se centra contenido dentro de main*/
}

#aside{
    width: 276px;
    height: var(--height-content);
    background-color: rgb(185, 171, 199);
    display: inline-block; /*se indica a aside que se posicione en línea ocupando su ancho*/
    text-align: center; /*Se centra contenido dentro de aside*/ 

}
#footer{
    background-color: rgb(211, 153, 153);
}