:root{
    --height-content: 500px; /*variable que almacena la altura que tendrá la seccion de contenido*/
}

body{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(252, 237, 186);
    text-align: center; /*centra todos los elementos dentro del body*/
}
p{
    margin-top: 250px; /*centra aproximadamente todos los elementos p */
}

#header > p{
    margin-top: 0;
    padding-top: 50px;
} 

#header{
    height: 100px;
    background-color: rgb(255, 194, 179);
}

#nav{
    background-color: rgb(248, 248, 165);
}

#content{
    background-color: rgb(211, 253, 177);
    height: var(--height-content);
}

#main{
    width: 700px;
    height: var(--height-content);
    float: left; /*se indica a la seccion main que se salga del flujo de la página y flote a la izquierda*/
    background-color: rgb(128, 234, 241);
}

#aside{
    width: 270px;
    height:var(--height-content);
    float: right; /*se le indica a aside que se salga del flujo de la página y flote a la derecha*/
    background-color: rgb(185, 171, 199);

}

#footer{
    background-color: rgb(211, 153, 153);
    clear: both;
}