main {
  width: fit-content;
  border: 10px dotted black;
  margin: 10% auto;
  padding: 2rem;
  background-color: rgb(221, 221, 221);
}

label {
  color: gray;
  display: inline-block;
  width: 100px;
}
label {
  width: 100px;
}
div {
  margin-top: 0.5rem;
}
