main {
  width: 50%;
  border: 10px dotted black;
  margin: 10% auto;
  padding: 1rem;
  background-color: rgb(221, 221, 221);
}

label {
  color: gray;
  display: inline-block;
  width: 100px;
}
label {
  width: 100px;
}
div {
  margin-top: 0.5rem;
}
