table{
    border-collapse: collapse;
}
tr{
    padding: 10px;
}
th, td{
    border: 1px solid;
}
.fondoAzul{
    background-color: lightblue;
}
.fondoVerde{
    background-color: lightgreen;
}
