<div class="contenedor-login">
    <div>
        <h2>Debes identificarte para acceder a la aplicación</h2>
        <div class="centrado">
            <form [formGroup]="loginForm" (ngSubmit)="compruebaUsuario()" novalidate>
                <label>Usuario: </label>
                <input type="text" formControlName="usuario">
                <div *ngIf="usuario?.invalid && usuario?.touched" class="errores">
                    El texto debe comenzar con "jav"
                </div><br><br>
                <label>Contraseña: </label>
                <input type="password" formControlName="contrasenya"><br>
                <br><br>
                <!-- <button (click)="compruebaUsuario()">Aceptar</button> -->
                <input type="submit" name="aceptar" value="Aceptar">
            </form>
            <!-- <p>{{loginForm.value | json}}</p>
            <p>Usuario modificado: {{loginForm.get('usuario')!.dirty}}</p> -->
        </div>
    </div>
</div>