<h3>{{ titulo }}</h3>
<label>Nombre: </label>
<input type="text" [(ngModel)]="empleadoact.nombre" (ngModelChange)="cambiado()"><br>
<label>Edad: </label>
<input type="number" [(ngModel)]="empleadoact.edad" (ngModelChange)="cambiado()"><br>
<label>Contratado: </label>
<input type="number" [(ngModel)]="empleadoact.contratado" min="0"
max="1" (ngModelChange)="cambiado()"><br><br>
<button (click)="guardaEmpleado()">Guardar</button>
<button [routerLink]="[' /empleados']" class="ml-2">Cancelar</button>