<div class="contenedor-login">
    <div>
        <h2>Debes identificarte para acceder a la aplicación</h2>
        <div class="centrado">
            <form [formGroup]="loginForm" (ngSubmit)="compruebaUsuario()" novalidate>
                <label>Usuario: </label>
                <input type="text" formControlName="usuario" name="usuario">
                <div *ngIf="usuario?.invalid && usuario?.touched" class="errores">
                    El texto debe comenzar con "jav"
                </div><br><br>
                <label>Contraseña: </label>
                <input type="password" formControlName="contrasenya" name="contrasenya"><br>
                <br><br>
                <input type="submit" name="aceptar" value="Aceptar">
            </form>
        </div>
    </div>
</div>