<div class="container d-flex align-items-center justify-content-center contenedor-formulario">
    <div class="col-10 col-md-8 card text-center my-3">
        <div class="card-header titulos">NÓMINAS - {{ titulo }}</div>
        <div class="card-body">
            <h5 class="card-title">Introduce los datos de la Nómina</h5>
            <form #nominaForm="ngForm" class="mt-4 text-start" (ngSubmit)="guardaNomina()" novalidate>
                <div class="row mb-3">
                    <div class="col-12 col-md-8">
                        <label for="nombre" class="formlabel">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nominaact.nombre"
                            [readonly]="tipo == 2" (ngModelChange)="cambiado()" minlength="3" maxlength="50" required>
                    </div>
                    <div class="col-12 mt-2 col-md-4 mt-md-0">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" name="fecha" name="fecha" class="form-control" [(ngModel)]="nominaact.fecha"
                            [readonly]="tipo == 2" (ngModelChange)="cambiado()" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="bruto" class="form-label">Bruto:</label>
                        <input type="number" id="bruto" name="bruto" class="form-control" [(ngModel)]="nominaact.bruto"
                            [readonly]="tipo == 2" (ngModelChange)="cambiado()" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="retencion" class="formlabel">Retención:</label>
                        <input type="number" id="retencion" name="retencion" class="form-control"
                            [(ngModel)]="nominaact.retencion" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                            required>
                    </div>
                </div>
                <div class="my-3 text-center">
                    <button name="cancelar" class="btn btn-secondary btn-lg me-3" [routerLink]="['/nominas']">Cancelar</button>
                    <input type="submit" class="btn btn-dark btn-lg" value="{{ txtBtn }}">
                </div>
            </form>
        </div>
    </div>
</div>