<h3>Gestión del empleado-{{ seleccionado }}</h3>
<label>Nombre: </label>
<input type="text" [(ngModel)]="empleados[seleccionado].nombre" /><br />
<label>Edad: </label>
<input type="number" [(ngModel)]="empleados[seleccionado].edad" /><br />
<label>Contratado: </label>
<input
  type="number"
  [(ngModel)]="empleados[seleccionado].contratado"
  min="0"
  max="1"
/><br /><br />
<label>Cambiar al empleado: </label>
<input
  type="number"
  [(ngModel)]="seleccionado"
  min="0"
  max="{{ empleados.length - 1 }}"
/><br />
<!--
<button
  *ngIf="empleados[seleccionado].contratado"
  (click)="vbleLlamada.despedir(seleccionado)"
>
  Despedir
</button>
<button
  *ngIf="!empleados[seleccionado].contratado"
  (click)="vbleLlamada.contratar(seleccionado)"
>
  Contratar
</button>

<button *ngIf="empleados[seleccionado].contratado" (click)="llamaAhijo()">
  Despedir
</button>
<button *ngIf="!empleados[seleccionado].contratado" (click)="llamaAhijo()">
  Contratar
</button>
-->
<hr />

<!--
LLAMADA A METODOS DE LA CLASE HIJO A GTRAVES DE #
<app-empleados-lista
  [empleados]="empleados"
  (empleadosActualizados)="actualizarEmpleados($event)"
  #vbleLlamada
  #hijo
></app-empleados-lista>
-->
<app-empleados-lista
  [empleados]="empleados"
  (empleadosActualizados)="actualizarEmpleados($event)"
></app-empleados-lista>

<button (click)="nuevoEmpleado()">Nuevo empleado</button>